<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Motorco Music Hall Events</title>
    <link>https://motorcomusic.com/</link>
    <description>Upcoming events at Motorco Music Hall in Durham, NC</description>
    <lastBuildDate>Tue, 30 Dec 2025 19:15:55 GMT</lastBuildDate>
    <item>
      <title>The Monti StorySLAM : Cabin Fever | Thu Jan 15, 2026 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/the-monti-storyslam-cabin-fever/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/the-monti-storyslam-cabin-fever/</guid>
      <pubDate>Mon, 29 Dec 2025 22:15:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/CabinFever_v3_2000x2000-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Thu Jan 15, 2026 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/CabinFever_v3_2000x2000-680x680.jpg" alt="Event image" /></p><p></p>
<h4></h4>
<h3></h3>
<h5><a href="https://www.eventbrite.com/e/cabin-fever-storyslam-tickets-1978899566875?aff=oddtdtcreator">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>REBIRTH BRASS BAND | Sat Dec 27, 2025 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/rebirth-brass-band-12-27-25/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/rebirth-brass-band-12-27-25/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/09/12_27_25-Rebirth_Brass_Band-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Dec 27, 2025 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/09/12_27_25-Rebirth_Brass_Band-4x5-1-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/rebirth-brass-band-12-27-25/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>HOT IN HERRE : 2000’S DANCE PARTY – NYE BASH! | Wed Dec 31, 2025 9:30 pm (Doors: 8:30 pm)</title>
      <link>https://motorcomusic.com/event/hot-in-herre-nye-bash/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/hot-in-herre-nye-bash/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/ball-drop-11x17-1-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Wed Dec 31, 2025 9:30 pm (Doors: 8:30 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/ball-drop-11x17-1-680x680.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> Support</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/hot-in-herre-nye-bash/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CLUB HAWKINS : ‘Stranger Things’ Dance Party | Fri Jan 2, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/club-hawkins/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/club-hawkins/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/e2ea6dfb2043d287d2b72adcef78e9cd7b007b1b1af7c4b99a0b8c9fe06db089_093cd645000895027e05f42fcd58ad8833d30c5a9f18c09c5ea8af5a4b6f52f6.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Jan 2, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/e2ea6dfb2043d287d2b72adcef78e9cd7b007b1b1af7c4b99a0b8c9fe06db089_093cd645000895027e05f42fcd58ad8833d30c5a9f18c09c5ea8af5a4b6f52f6.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/club-hawkins/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FRIKITONA : Classics vs Current Reggaeton Fiesta | Sat Jan 3, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/frikitona/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/frikitona/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/6237b632a560f9da56318106b04c02b7ddcdab1e20413783afb50377f93d05bd_3bb7950283a11034d81f28835e61a25238b8d3e09690f89ed2e0577ae7bbd7fd.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Jan 3, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/6237b632a560f9da56318106b04c02b7ddcdab1e20413783afb50377f93d05bd_3bb7950283a11034d81f28835e61a25238b8d3e09690f89ed2e0577ae7bbd7fd.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/frikitona/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>JUNHEE | Fri Jan 9, 2026 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/junhee/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/junhee/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/Junhee-NC-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Jan 9, 2026 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> Oppang K-Pop Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/Junhee-NC-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with"></span> INTO THE OCEAN TOUR 2026</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/junhee/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>WeTouchGrass Presents : Anime Rave | Sat Jan 10, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/we-touch-grass-anime-rave/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/we-touch-grass-anime-rave/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/09/01_19_26-We_Touch_Grass-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Jan 10, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/09/01_19_26-We_Touch_Grass-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/we-touch-grass-anime-rave/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FLESHWATER | Tue Jan 13, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/fleshwater/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/fleshwater/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/Fleshwater-Jan13-Motorco-SQ-V1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Tue Jan 13, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/Fleshwater-Jan13-Motorco-SQ-V1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> JARHEAD FERTILIZER / TARANTULA</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/fleshwater/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CLUB XCX | Fri Jan 16, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/club-xcx/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/club-xcx/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/e8195e70b7d4341d280c4854fe5e68b9f0a7317a193f40e6be157be99ac8a173_b175759d7120f863c88432433d8526bd24336d697a125b381979e37dd7988bc3.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Jan 16, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/e8195e70b7d4341d280c4854fe5e68b9f0a7317a193f40e6be157be99ac8a173_b175759d7120f863c88432433d8526bd24336d697a125b381979e37dd7988bc3.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/club-xcx/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>GOODIES : 2000’s HIP HOP NITE | Sat Jan 17, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/goodies-1-17-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/goodies-1-17-26/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/1b8b9360d0d0d609f326eaa474941f5e3c1a852ac2e30a53d7a63e73d4a3b203_b5f66650d311326aea9f91661a0906b4b31eb3ea1dd242c3320d66fcf290b8c3.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Jan 17, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/1b8b9360d0d0d609f326eaa474941f5e3c1a852ac2e30a53d7a63e73d4a3b203_b5f66650d311326aea9f91661a0906b4b31eb3ea1dd242c3320d66fcf290b8c3.png" alt="Event image" /></p><p><!--<h2><span class="with"></span></h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/goodies-1-17-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>KOO KOO – CANCELED | Sun Jan 18, 2026 1:00 pm (Doors: 12:00 pm)</title>
      <link>https://motorcomusic.com/event/koo-koo-camp-spork/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/koo-koo-camp-spork/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/01_18_26-Koo_Koo-square-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sun Jan 18, 2026 1:00 pm (Doors: 12:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/01_18_26-Koo_Koo-square-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with"></span> CAMP SPORK TOUR</h2>
<h4></h4>
<h3></h3>
<p></p>]]></description>
    </item>
    <item>
      <title>SWAR | Sun Jan 18, 2026 7:00 pm (Doors: 6:00 pm)</title>
      <link>https://motorcomusic.com/event/swar/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/swar/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/SWAR-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Sun Jan 18, 2026 7:00 pm (Doors: 6:00 pm)</p><p><strong>Presented by:</strong> Live At Present</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/SWAR-680x680.png" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> Dai Vai, Ujjwal &amp; Rawkxy</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/swar/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CURFEW CLUB : A Dance Party for Babes with a Bedtime | Fri Jan 23, 2026 7:00 pm (Doors: 6:00 pm)</title>
      <link>https://motorcomusic.com/event/curfew-club/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/curfew-club/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/Curfew-Club-Insta-Post-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Jan 23, 2026 7:00 pm (Doors: 6:00 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/Curfew-Club-Insta-Post-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> DJ LUXE POSH</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/curfew-club/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>ELLISE : THE PRETTY EVIL TOUR | Tue Jan 27, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/ellise/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/ellise/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/01_27_26-Ellise-square-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Tue Jan 27, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/01_27_26-Ellise-square-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> MEG SMITH</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/ellise/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>LOGAN CROSBY | Thu Jan 29, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/logan-crosby/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/logan-crosby/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/LC-1.29.26-DURHAM-NC-1080x1080-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Thu Jan 29, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain & Peachtree Entertainment Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/LC-1.29.26-DURHAM-NC-1080x1080-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> KYLE SCHUESLER</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/logan-crosby/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FINGER HEART : K-POP DANCE PARTY | Fri Jan 30, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/finger-heart/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/finger-heart/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/be9db897ae81a1d7f7cddf5ca401209815253c708f59eb78e6f259778ab2a2fe_753d81d17b1bdae1692a8fdce162ca75d73f0cbc03eb2ceef2cb3f2eecc3cbbf.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Jan 30, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/be9db897ae81a1d7f7cddf5ca401209815253c708f59eb78e6f259778ab2a2fe_753d81d17b1bdae1692a8fdce162ca75d73f0cbc03eb2ceef2cb3f2eecc3cbbf.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/finger-heart/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>ANNE-CLAIRE | Sat Jan 31, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/anne-claire/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/anne-claire/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/AC-Chessa-show-2026-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Jan 31, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/AC-Chessa-show-2026-680x680.png" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> CHESSA RICH</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/anne-claire/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>NIGHT MOVES | Sun Feb 1, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/night-moves/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/night-moves/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/Night-Moves-PC-Shawn-Brackbill-DSC_3568-300dpi-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sun Feb 1, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/Night-Moves-PC-Shawn-Brackbill-DSC_3568-300dpi-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> JOHNNY DELAWARE</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/night-moves/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CAN’T FEEL MY FACE : 2010s PARTY | Fri Feb 6, 2026 9:00 pm (Doors: 8:00 pm)</title>
      <link>https://motorcomusic.com/event/cant-feel-my-face-2-6-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/cant-feel-my-face-2-6-26/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/40562c628bb5018f09e7edbad21993ded26d19aaa9ec5b276a50c657d97b70f4_875e5eea57ce5450a6d36a5e05f0d3077f1e0c23a1c31d462ea82c7bf704143d.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Feb 6, 2026 9:00 pm (Doors: 8:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/40562c628bb5018f09e7edbad21993ded26d19aaa9ec5b276a50c657d97b70f4_875e5eea57ce5450a6d36a5e05f0d3077f1e0c23a1c31d462ea82c7bf704143d.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> Support</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/cant-feel-my-face-2-6-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>BABE HAVEN | Sat Feb 7, 2026 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/babe-haven-2-7-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/babe-haven-2-7-26/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/530403bf33c0d8c211f97f3e628456e73c34f842a9dc479c097f56949f834434_c86d5e12b33638a57f20aa9dbb08aa9bfdf56825403ca93c04c9e85c488e6a88-680x512.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Feb 7, 2026 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/530403bf33c0d8c211f97f3e628456e73c34f842a9dc479c097f56949f834434_c86d5e12b33638a57f20aa9dbb08aa9bfdf56825403ca93c04c9e85c488e6a88-680x512.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> GASKET / FADING SIGNAL / FLORA IN SILENCE</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/babe-haven-2-7-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>MAT KEREKES | Thu Feb 12, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/mat-kerekes/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/mat-kerekes/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/02_12_26-Mat_Kerekes-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Thu Feb 12, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/02_12_26-Mat_Kerekes-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with"></span>LUNA 10 YEAR ANNIVERSARY TOUR</h2>
<h2><span class="with">with</span> SHALLOW ALCOVE / BEESON</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/mat-kerekes/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>MDOU MOCTAR (SOLO) | Sat Feb 14, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/mdou-moctar-solo/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/mdou-moctar-solo/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/02_14_26-Mdou_Moctar-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Feb 14, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/02_14_26-Mdou_Moctar-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/mdou-moctar-solo/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>MATTEO MANCUSO | Thu Feb 19, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/matteo-mancuso/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/matteo-mancuso/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/02_19_26-Matteo_Mancuso-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Thu Feb 19, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/02_19_26-Matteo_Mancuso-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/matteo-mancuso/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>VINCENT NEIL EMERSON | Fri Feb 20, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/vincent-neil-emerson2/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/vincent-neil-emerson2/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/DSC1921-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Feb 20, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/DSC1921-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> WILLIAM PRINCE</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/vincent-neil-emerson2/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>LAUNDRY DAY | Tue Feb 24, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/laundry-day/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/laundry-day/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/02_24_26-Laundry_Day-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Tue Feb 24, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/02_24_26-Laundry_Day-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/laundry-day/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>NATHAN EVANS &amp; THE ST PHNX BAND | Sat Feb 28, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/nathan-evans-and-the-st-phnx-band/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/nathan-evans-and-the-st-phnx-band/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/nathan-evans-horiz-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Feb 28, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/nathan-evans-horiz-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/nathan-evans-and-the-st-phnx-band/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>RATBOYS : When the Sun Explodes Tour 2026 | Sun Mar 8, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/ratboys/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/ratboys/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/09/03_08_26-Ratboys-4x5-1-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sun Mar 8, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/09/03_08_26-Ratboys-4x5-1-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> FLORRY</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/ratboys/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>LANDON CONRATH | Mon Mar 9, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/landon-conrath/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/landon-conrath/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/03_09_26-Landon_Conrath-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Mon Mar 9, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/03_09_26-Landon_Conrath-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ABBY HOLIDAY</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/landon-conrath/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>2026 Flamenco Vivo’s Tablao Flamenco – Friday Night | Fri Mar 13, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-friday-night/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-friday-night/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2024/12/240330-Flamenco-Vivo-at-the-Motorco-1551-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Mar 13, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2024/12/240330-Flamenco-Vivo-at-the-Motorco-1551-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> Support</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-friday-night/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>2026 Flamenco Vivo’s Tablao Flamenco – Saturday Matinee | Sat Mar 14, 2026 2:00 pm (Doors: 1:00 pm)</title>
      <link>https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-matinee/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-matinee/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2023/12/FlamencoVivo_Tablao-680x453.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Mar 14, 2026 2:00 pm (Doors: 1:00 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2023/12/FlamencoVivo_Tablao-680x453.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> Support</h2>--></p>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-matinee/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>2026 Flamenco Vivo’s Tablao Flamenco – Saturday Night | Sat Mar 14, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-night/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-night/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2024/12/240330-Flamenco-Vivo-at-the-Motorco-1551-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Mar 14, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2024/12/240330-Flamenco-Vivo-at-the-Motorco-1551-1-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> Support</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/2026-flamenco-vivos-tablao-flamenco-saturday-night/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>Capstan : Cultural Divide 10 Year Anniversary Tour | Thu Mar 19, 2026 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/capstan/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/capstan/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/03_19_26-Capstan-square-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Thu Mar 19, 2026 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/03_19_26-Capstan-square-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> In Her Own Words / Dreamwake</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/capstan/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>THE WEDDING PRESENT : Seamonsters 35th Anniversary Tour | Sat Apr 4, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/the-wedding-present-4-4-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/the-wedding-present-4-4-26/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/04_04_26-The_Wedding_Present-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Apr 4, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/04_04_26-The_Wedding_Present-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> MARK ROBINSON (SINGS UNREST)</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/the-wedding-present-4-4-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>NateWantsToBattle : Phantom Burial Tour | Mon Apr 6, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/natewantstobattle/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/natewantstobattle/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/04_06_26-NateWantsToBattle-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Mon Apr 6, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/04_06_26-NateWantsToBattle-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> CAM STEADY / GENWUNNER</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/natewantstobattle/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FEMTANYL | Sun Apr 12, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/femtanyl/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/femtanyl/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/Femtanyl-Apr12-Motorco-FEED-V1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Sun Apr 12, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/Femtanyl-Apr12-Motorco-FEED-V1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> TAKIHASDIED</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/femtanyl/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>VOXTROT | Mon Apr 13, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/voxtrot/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/voxtrot/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/c28aacf89d4664381ce91279ddd713760c1db33829ab41072131318932bee92b_b9d0afa4c1c9e91a7d9c655cf13632a88e4157eecf6204bb62a817b322703d91-512x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Mon Apr 13, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/c28aacf89d4664381ce91279ddd713760c1db33829ab41072131318932bee92b_b9d0afa4c1c9e91a7d9c655cf13632a88e4157eecf6204bb62a817b322703d91-512x680.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/voxtrot/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>MEI SEMONES | Tue Apr 14, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/mei-semones/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/mei-semones/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/Mei-Semones-Apr14-Motorco-SQ-V1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Tue Apr 14, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/Mei-Semones-Apr14-Motorco-SQ-V1-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/mei-semones/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>VNV NATION – AN EVENING WITH | Wed Apr 15, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/vnv-nation-an-evening-with/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/vnv-nation-an-evening-with/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/04_15_26-VNV_Nation-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Wed Apr 15, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/04_15_26-VNV_Nation-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/vnv-nation-an-evening-with/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FUST / MERCE LEMON | Fri Apr 17, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/fust-merce-lemon/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/fust-merce-lemon/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/12/04_17_26-Fust-Merce_Lemon-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Apr 17, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/12/04_17_26-Fust-Merce_Lemon-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> THOMAS DOLLBAUM</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/fust-merce-lemon/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FLYTE (Rescheduled from 10/25/25) | Tue May 5, 2026 8:00 pm (Doors: 7:00 pm)</title>
      <link>https://motorcomusic.com/event/flyte/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/flyte/</guid>
      <pubDate>Wed, 24 Dec 2025 02:29:50 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/05_05_26-Flyte-square-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Tue May 5, 2026 8:00 pm (Doors: 7:00 pm)</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/05_05_26-Flyte-square-680x680.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/flyte/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>NABIN BHATTARAI | Fri Dec 26, 2025 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/bhattarai/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/bhattarai/</guid>
      <pubDate>Tue, 23 Dec 2025 17:42:31 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/aripta-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Dec 26, 2025 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> UNI Entertainment</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/aripta-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ATRIPTA</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/bhattarai/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
  </channel>
</rss>
