<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss xmlns:ev="http://purl.org/rss/1.0/modules/event/" version="2.0">
  <channel>
    <title>Motorco Music Hall Events</title>
    <link>https://motorcomusic.com/</link>
    <description>Upcoming events at Motorco Music Hall in Durham, NC</description>
    <lastBuildDate>Thu, 8 Oct 2026 18:16:02 GMT</lastBuildDate>
    <item>
      <title>CAN’T FEEL MY FACE : 2010s PARTY (2026-12-05)</title>
      <link>https://motorcomusic.com/event/cant-feel-my-face-12-5-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/cant-feel-my-face-12-5-26/</guid>
      <ev:startdate>2026-12-05</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 18:16:02 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/cant-feel-my-face-2010.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-12-05</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/cant-feel-my-face-2010.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with </span></h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/cant-feel-my-face-12-5-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>HIGH TIMES HEMP FEST (2026-10-25)</title>
      <link>https://motorcomusic.com/event/high-times-hemp-fest/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/high-times-hemp-fest/</guid>
      <ev:startdate>2026-10-25</ev:startdate>
      <pubDate>Wed, 7 Oct 2026 18:16:02 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/23f835_0551cfdc710147b788b07b65b854a2bbmv2.jpg-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-25</p><p><strong>Presented by:</strong> The Canna Joint Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/23f835_0551cfdc710147b788b07b65b854a2bbmv2.jpg-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://www.thecannajoint.com/events/high-times-hemp-fest-triangle-nc">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>DeathbyRomy : FEVER TOUR (2027-03-19)</title>
      <link>https://motorcomusic.com/event/deathbyromy/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/deathbyromy/</guid>
      <ev:startdate>2027-03-19</ev:startdate>
      <pubDate>Tue, 6 Oct 2026 18:15:54 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/death-by-romy-680x512.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-03-19</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/death-by-romy-680x512.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with </span> JAYDEN HAMMER</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/deathbyromy/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CHRISTIAN KURIA : EAST TOUR (2027-02-26)</title>
      <link>https://motorcomusic.com/event/christian-kuria/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/christian-kuria/</guid>
      <ev:startdate>2027-02-26</ev:startdate>
      <pubDate>Tue, 6 Oct 2026 18:15:54 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/christian-kuria-680x512.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-02-26</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/christian-kuria-680x512.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with </span></h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/christian-kuria/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>Line Dancing (2026-10-15)</title>
      <link>https://motorcomusic.com/event/line-dancing-2/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/line-dancing-2/</guid>
      <ev:startdate>2026-10-15</ev:startdate>
      <pubDate>Tue, 6 Oct 2026 13:16:04 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/Copy-of-Motorco-Presents-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-15</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/Copy-of-Motorco-Presents-680x680.png" alt="Event image" /></p><p></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/line-dancing-2/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>NEEBS GAMING : SPRING BREAK 2027 LIVE (2027-05-20)</title>
      <link>https://motorcomusic.com/event/neebs-gaming/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/neebs-gaming/</guid>
      <ev:startdate>2027-05-20</ev:startdate>
      <pubDate>Tue, 6 Oct 2026 10:15:56 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/NGSB_600x600.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-05-20</p><p><strong>Presented by:</strong> Needs Gaming Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/NGSB_600x600.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://www.eventbrite.com/e/neebs-gaming-stream-night-tickets-1999303167594?aff=oddtdtcreator">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>GYEDU-BLAY AMBOLLEY (RESCHEDULED FROM SEP. 25th!) (2027-04-18)</title>
      <link>https://motorcomusic.com/event/gyedu-blay-ambolley/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/gyedu-blay-ambolley/</guid>
      <ev:startdate>2027-04-18</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/07/04_18_27-Gyedu-Blay_Ambolley-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-04-18</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/07/04_18_27-Gyedu-Blay_Ambolley-4x5-1-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> DIALI CISSOKHO </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/gyedu-blay-ambolley/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>VNV NATION (2027-03-10)</title>
      <link>https://motorcomusic.com/event/vnv-nation-an-evening-with/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/vnv-nation-an-evening-with/</guid>
      <ev:startdate>2027-03-10</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/10/03_10_27-VNV_Nation-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-03-10</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/10/03_10_27-VNV_Nation-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> SUPPORT</h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/vnv-nation-an-evening-with/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>THE LEMONHEADS (2027-02-13)</title>
      <link>https://motorcomusic.com/event/the-lemonheads/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/the-lemonheads/</guid>
      <ev:startdate>2027-02-13</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/02_13_26-The_Lemonheads-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2027-02-13</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/02_13_26-The_Lemonheads-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> FANCY GAP</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/the-lemonheads/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>KING BUFFALO (2026-12-16)</title>
      <link>https://motorcomusic.com/event/king-buffalo/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/king-buffalo/</guid>
      <ev:startdate>2026-12-16</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/King-Buffalo-Dec16-Motorco-V1-STORY-e1788299297232-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-12-16</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/King-Buffalo-Dec16-Motorco-V1-STORY-e1788299297232-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/king-buffalo/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>KAIRA BA (2026-12-04)</title>
      <link>https://motorcomusic.com/event/kaira-ba/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/kaira-ba/</guid>
      <ev:startdate>2026-12-04</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/7f7d3c2e0c3225a6a88ab8bd616a6b034dc8f33e1e5bc754d04f666d7cf1e2b5_aeb7b576249330258f28219d06bf952cae4f9b7d8b0fcbf10cd80f686449963a-680x512.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-12-04</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/7f7d3c2e0c3225a6a88ab8bd616a6b034dc8f33e1e5bc754d04f666d7cf1e2b5_aeb7b576249330258f28219d06bf952cae4f9b7d8b0fcbf10cd80f686449963a-680x512.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> LIPBONE REDDING</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/kaira-ba/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>PRETTY SICK (2026-12-02)</title>
      <link>https://motorcomusic.com/event/pretty-sick/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/pretty-sick/</guid>
      <ev:startdate>2026-12-02</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/12_02_26-Pretty_Sick-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-12-02</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/12_02_26-Pretty_Sick-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/pretty-sick/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>MOTORCO HOLIDAY RECORD FAIR (2026-11-29)</title>
      <link>https://motorcomusic.com/event/motorco-record-fair/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/motorco-record-fair/</guid>
      <ev:startdate>2026-11-29</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/25-021-MOT-Holiday-Market-Fair-Poster_FIN-INSTAGRAM-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-29</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/25-021-MOT-Holiday-Market-Fair-Poster_FIN-INSTAGRAM-680x680.png" alt="Event image" /></p><p></p>
<h2><span class="with"></span>FREE &amp; OPEN TO THE PUBLIC</h2>
<h4></h4>
<h3></h3>
<p></p>]]></description>
    </item>
    <item>
      <title>heavens to betsy (2026-11-22)</title>
      <link>https://motorcomusic.com/event/heavens-to-betsy/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/heavens-to-betsy/</guid>
      <ev:startdate>2026-11-22</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/11_22_26-heavens_to_betsy-4x5-2-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-22</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/11_22_26-heavens_to_betsy-4x5-2-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> PINK FLAG</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/heavens-to-betsy/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CAROLINE (2026-11-21)</title>
      <link>https://motorcomusic.com/event/caroline/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/caroline/</guid>
      <ev:startdate>2026-11-21</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/11_21_26-caroline-4x5-2-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-21</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/11_21_26-caroline-4x5-2-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> GIANT CLAW</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/caroline/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CHASE PETRA (2026-11-20)</title>
      <link>https://motorcomusic.com/event/chase-petra/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/chase-petra/</guid>
      <ev:startdate>2026-11-20</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/d0652670516dce20d0290165168bb726b08c8e07adea6033ea20436701a52cd1_13c1893ef8673bb0946f93bba669c8723ab9b526e58f53c97d214e93e388f84e-680x512.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-20</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/d0652670516dce20d0290165168bb726b08c8e07adea6033ea20436701a52cd1_13c1893ef8673bb0946f93bba669c8723ab9b526e58f53c97d214e93e388f84e-680x512.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> JER / LEISURE HOUR / SEWING CLUB</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/chase-petra/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>THE BAD PLUS (2026-11-19)</title>
      <link>https://motorcomusic.com/event/the-bad-plus-11-19-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/the-bad-plus-11-19-26/</guid>
      <ev:startdate>2026-11-19</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/07/11_19_26-The_Bad_Plus-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-19</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/07/11_19_26-The_Bad_Plus-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with"></span> FAREWELL TOUR</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/the-bad-plus-11-19-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>DONNY BENÉT (2026-11-18)</title>
      <link>https://motorcomusic.com/event/donny-benet/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/donny-benet/</guid>
      <ev:startdate>2026-11-18</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/04/11_18_26-Donny_Benet-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-18</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/04/11_18_26-Donny_Benet-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> OTNES</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/donny-benet/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>Los Gaiteros De San Jacinto, Fruko, and Carmelo Torres Present MADRE CUMBIA (2026-11-17)</title>
      <link>https://motorcomusic.com/event/madre-cumbia/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/madre-cumbia/</guid>
      <ev:startdate>2026-11-17</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/07/d0abc9e936fe3387829926a260469c96b977a9a4b7c74c3dfcd56554993b6716_352ca736e8851ba0688f7004c64664122d42d9931c676601fa7ad809204dc239.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-17</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/07/d0abc9e936fe3387829926a260469c96b977a9a4b7c74c3dfcd56554993b6716_352ca736e8851ba0688f7004c64664122d42d9931c676601fa7ad809204dc239.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> LOS GAITEROS DE SAN JACINTO, FRUKO, CARMELO TORRES </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/madre-cumbia/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>WE ARE SCIENTISTS : 20th Anniversary of ‘With Love and Squalor’ (2026-11-16)</title>
      <link>https://motorcomusic.com/event/we-are-scientists/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/we-are-scientists/</guid>
      <ev:startdate>2026-11-16</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/11_16_26-We_Are_Scientists-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-16</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/11_16_26-We_Are_Scientists-square-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/we-are-scientists/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>GREG FREEMAN (2026-11-15)</title>
      <link>https://motorcomusic.com/event/greg-freeman/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/greg-freeman/</guid>
      <ev:startdate>2026-11-15</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/07/Greg-Freeman-Nov15-Carrboro-V1-FEED-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-15</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/07/Greg-Freeman-Nov15-Carrboro-V1-FEED-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ROBBER ROBBER</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/greg-freeman/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>RED LEATHER (2026-11-14)</title>
      <link>https://motorcomusic.com/event/red-leather/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/red-leather/</guid>
      <ev:startdate>2026-11-14</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/03/11_14_26-Red_Leather-square-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-14</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/03/11_14_26-Red_Leather-square-680x680.jpeg" alt="Event image" /></p><p></p>
<h2>TAHOE TOUR</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/red-leather/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>STEPHEN LYNCH : THE ME TOUR (2026-11-12)</title>
      <link>https://motorcomusic.com/event/stephen-lynch-11-12-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/stephen-lynch-11-12-26/</guid>
      <ev:startdate>2026-11-12</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/11_12_26-Stephen_Lynch-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-12</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/11_12_26-Stephen_Lynch-4x5-1-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/stephen-lynch-11-12-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>BEAUTY SCHOOL DROPOUT (2026-11-09)</title>
      <link>https://motorcomusic.com/event/beauty-school-dropout/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/beauty-school-dropout/</guid>
      <ev:startdate>2026-11-09</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/11_09_26-Beauty_School_Dropout-4x5-2-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-09</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/11_09_26-Beauty_School_Dropout-4x5-2-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> NO LOVE FOR THE MIDDLE CHILD</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/beauty-school-dropout/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>DEER TICK (2026-11-08)</title>
      <link>https://motorcomusic.com/event/deer-tick-2/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/deer-tick-2/</guid>
      <ev:startdate>2026-11-08</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/03/DeerTick-Nov8-Motorco-FEED-V2-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-08</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/03/DeerTick-Nov8-Motorco-FEED-V2-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> DUG</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/deer-tick-2/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>AJJ (2026-11-05)</title>
      <link>https://motorcomusic.com/event/ajj-11-5-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/ajj-11-5-26/</guid>
      <ev:startdate>2026-11-05</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/11_05_26-AJJ-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-05</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/11_05_26-AJJ-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> GREET DEATH</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/ajj-11-5-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>SWEET PILL (2026-11-04)</title>
      <link>https://motorcomusic.com/event/sweet-pill/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/sweet-pill/</guid>
      <ev:startdate>2026-11-04</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/11_04_26-Sweet_Pill-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-04</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/11_04_26-Sweet_Pill-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> HEART TO GOLD / STEREOSITY</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/sweet-pill/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>THE ARMY, THE NAVY : THE FAKE BRAVE TOUR 2026 (2026-11-01)</title>
      <link>https://motorcomusic.com/event/the-army-the-navy/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/the-army-the-navy/</guid>
      <ev:startdate>2026-11-01</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/11_01_26-The_Army_The_Navy-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-11-01</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/11_01_26-The_Army_The_Navy-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ELLA WOOLSEY</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/the-army-the-navy/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>ALL ONYX WORLD (2026-10-30)</title>
      <link>https://motorcomusic.com/event/all-onyx-world/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/all-onyx-world/</guid>
      <ev:startdate>2026-10-30</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/ALL-ONYX-WORLD-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-30</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/ALL-ONYX-WORLD-680x680.png" alt="Event image" /></p><p></p>
<h2><span class="with"></span>A FESTIVAL BY JOOSELORD</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://eef7795a.sibforms.com/serve/MUIFAKllSqRZPVI5zDunfZ6HGcNiRJ3wJvj1T-74-AdPu8-BDLktO2tRT_5V391Zkjxgxp-P6VN1qHhU_YOGULX8Ri4NDZ8gz-xDe0A91faSB-WvMRc7kQVD9gugIUux0SScHgPZwRBrQonx_aHjWSxqDqj1CTYOIky3ljZmQncINeO_KWedo2opDqZL6mDzLSLLUIOdXBXhCGHsbA==">FREE - RSVP</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>FRIKO (2026-10-27)</title>
      <link>https://motorcomusic.com/event/friko/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/friko/</guid>
      <ev:startdate>2026-10-27</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/03/10_27_26-Friko-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-27</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/03/10_27_26-Friko-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> NINE PERFECT LIVES</h2>
<!--<h2><span class="with">with</span> OPENING BANDS </h2>-->
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/friko/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>DEV LEMONS – EAT THE PAVEMENT TOUR (2026-10-26)</title>
      <link>https://motorcomusic.com/event/dev-lemons/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/dev-lemons/</guid>
      <ev:startdate>2026-10-26</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/07/Dev-Lemons-Oct26-Motorco-V1-SQ-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-26</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/07/Dev-Lemons-Oct26-Motorco-V1-SQ-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ABBY KENNA</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/dev-lemons/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>LOW CUT CONNIE (2026-10-24)</title>
      <link>https://motorcomusic.com/event/low-cut-connie/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/low-cut-connie/</guid>
      <ev:startdate>2026-10-24</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/04/10_24_26-Low_Cut_Connie-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-24</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/04/10_24_26-Low_Cut_Connie-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> BRIAN DUNNE</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/low-cut-connie/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>HOT IN HERRE : 2000’S DANCE PARTY (2026-10-23)</title>
      <link>https://motorcomusic.com/event/hot-in-herre-10-23-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/hot-in-herre-10-23-26/</guid>
      <ev:startdate>2026-10-23</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/222a758c1854016440e5be447939a5816e5acab78044835d0c01c627c15ec498_a353061838aa7303720a4da89c7829771485ed07972c5d5a3303ca2bd9c64b2f.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-23</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/222a758c1854016440e5be447939a5816e5acab78044835d0c01c627c15ec498_a353061838aa7303720a4da89c7829771485ed07972c5d5a3303ca2bd9c64b2f.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/hot-in-herre-10-23-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>OSO OSO (2026-10-22)</title>
      <link>https://motorcomusic.com/event/oso-oso-10-22-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/oso-oso-10-22-26/</guid>
      <ev:startdate>2026-10-22</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/10_22_26-Oso_Oso-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-22</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/10_22_26-Oso_Oso-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> LEISURE HOUR / BAD LUCK.</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/oso-oso-10-22-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CHRIS GETHARD (2026-10-21)</title>
      <link>https://motorcomusic.com/event/chris-gethard-dave-ross/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/chris-gethard-dave-ross/</guid>
      <ev:startdate>2026-10-21</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/10_21_26-Chris_Gethard-Dave_Ross-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-21</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/10_21_26-Chris_Gethard-Dave_Ross-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">featuring</span> DAVE ROSS</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/chris-gethard-dave-ross/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CHASING ABBEY (2026-10-20)</title>
      <link>https://motorcomusic.com/event/chasing-abbey/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/chasing-abbey/</guid>
      <ev:startdate>2026-10-20</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/03/10_20_26-Chasing_Abbey-square-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-20</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/03/10_20_26-Chasing_Abbey-square-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> TRIPPERS &amp; ASKERS</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/chasing-abbey/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>JUAN GABRIEL TRIBUTE – “JUANGA ETERNO” (2026-10-18)</title>
      <link>https://motorcomusic.com/event/juanga-eterno/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/juanga-eterno/</guid>
      <ev:startdate>2026-10-18</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/image0.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-18</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/image0.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/juanga-eterno/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CLUB SLAYYY : SLAYYYTER + HYPERPOP NIGHT (2026-10-17)</title>
      <link>https://motorcomusic.com/event/club-slayyy-10-17-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/club-slayyy-10-17-26/</guid>
      <ev:startdate>2026-10-17</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/08/72caa258802907e4513344a9f2d7863055c717cee117dee3cef6fd6c27af80c2_0aa7c99ee09e129d6354b12e1227af68e2a76ab44179ed5a8149f3276b22d99e.png"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-17</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/08/72caa258802907e4513344a9f2d7863055c717cee117dee3cef6fd6c27af80c2_0aa7c99ee09e129d6354b12e1227af68e2a76ab44179ed5a8149f3276b22d99e.png" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/club-slayyy-10-17-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CARSIE BLANTON (2026-10-16)</title>
      <link>https://motorcomusic.com/event/carsie-blanton-10-16-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/carsie-blanton-10-16-26/</guid>
      <ev:startdate>2026-10-16</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/02/10_16_26-Carsie_Blanton-4x5-1-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-16</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/02/10_16_26-Carsie_Blanton-4x5-1-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> THE BURNING HELL</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/carsie-blanton-10-16-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>IDA (2026-10-14)</title>
      <link>https://motorcomusic.com/event/ida/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/ida/</guid>
      <ev:startdate>2026-10-14</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/10_14_26-Ida-square-ish-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-14</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/10_14_26-Ida-square-ish-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with"></span> "I Know About You" 30th Anniversary</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/ida/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>GREAT LAKE SWIMMERS : CAUGHT LIGHT TOUR 2026 (2026-10-13)</title>
      <link>https://motorcomusic.com/event/great-lake-swimmers-10-13-26/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/great-lake-swimmers-10-13-26/</guid>
      <ev:startdate>2026-10-13</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/greatlakeswimmers.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-13</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/greatlakeswimmers.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> COLLEEN BROWN</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/great-lake-swimmers-10-13-26/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>CHANEL BEADS (2026-10-11)</title>
      <link>https://motorcomusic.com/event/chanel-beads/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/chanel-beads/</guid>
      <ev:startdate>2026-10-11</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/10_11_26-Chanel_Beads-11x17-poster-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-11</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/10_11_26-Chanel_Beads-11x17-poster-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> HORSE VISION / CAR CULTURE</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/chanel-beads/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>TOKYO TEA ROOM : Feel Forever Tour (2026-10-10)</title>
      <link>https://motorcomusic.com/event/tokyo-tea-room/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/tokyo-tea-room/</guid>
      <ev:startdate>2026-10-10</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/10_10_26-Tokyo_Tea_Room-square-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-10</p><p><strong>Presented by:</strong> andmoreagain presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/10_10_26-Tokyo_Tea_Room-square-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ARGONAUT &amp; WASP</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/tokyo-tea-room/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>OCT (On Company Time) (2026-10-09)</title>
      <link>https://motorcomusic.com/event/on-company-time/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/on-company-time/</guid>
      <ev:startdate>2026-10-09</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/04/10_09_26-OCT-4x5-2-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-09</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/04/10_09_26-OCT-4x5-2-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> LEWKY</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/on-company-time/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>Cancelled: DALEY (2026-10-08)</title>
      <link>https://motorcomusic.com/event/daley-2/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/daley-2/</guid>
      <ev:startdate>2026-10-08</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/06/Daley_cancelled-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-08</p><p><strong>Presented by:</strong> The Sol Kitchen Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/06/Daley_cancelled-680x680.jpg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h2>Unfortunately, this show has been cancelled.</h2>
<h5><a href="https://motorcomusic.com/event/daley-2/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>ROBERT LESTER FOLSOM (2026-10-07)</title>
      <link>https://motorcomusic.com/event/robert-lester-folsom/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/robert-lester-folsom/</guid>
      <ev:startdate>2026-10-07</ev:startdate>
      <pubDate>Mon, 5 Oct 2026 10:17:05 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/05/Robert-Lester-Folsom-Oct7-Motorco-V1-PRINT-11x17-1-680x680.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> 2026-10-07</p><p><strong>Presented by:</strong> Cat's Cradle Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/05/Robert-Lester-Folsom-Oct7-Motorco-V1-PRINT-11x17-1-680x680.jpeg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> LIZ COOPER</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/robert-lester-folsom/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>HALLOWEEN | Sat Oct 31, 2026 8:00 pm</title>
      <link>https://motorcomusic.com/event/halloween/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/halloween/</guid>
      <pubDate>Fri, 2 Oct 2026 23:16:03 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/10/Screenshot-from-2026-10-02-18-24-43-680x680.png"/>
      <description><![CDATA[<p><strong>Date:</strong> Sat Oct 31, 2026 8:00 pm</p><p><strong>Presented by:</strong> Motorco Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/10/Screenshot-from-2026-10-02-18-24-43-680x680.png" alt="Event image" /></p><p></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/halloween/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
    <item>
      <title>LOVE IN THE CLUB | Fri Nov 6, 2026 9:00 pm</title>
      <link>https://motorcomusic.com/event/love-in-the-club/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/love-in-the-club/</guid>
      <pubDate>Thu, 1 Oct 2026 18:16:19 GMT</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2026/09/f8eb3fe8dff4293458f8d3ae1aee55b250d3328b65ed0516ef7376c3fdab02ed_34c6744eedb3ef346f6583b158d9c2ab54a529fbae5641fda8b8d0f58d33c414.jpeg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Nov 6, 2026 9:00 pm</p><p><strong>Presented by:</strong> andmoreagain Presents</p><p><img src="https://motorcomusic.com/wp-content/uploads/2026/09/f8eb3fe8dff4293458f8d3ae1aee55b250d3328b65ed0516ef7376c3fdab02ed_34c6744eedb3ef346f6583b158d9c2ab54a529fbae5641fda8b8d0f58d33c414.jpeg" alt="Event image" /></p><p><!--<h2><span class="with">with</span> OPENING BANDS </h2>--></p>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/love-in-the-club/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
  </channel>
</rss>
