<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Motorco Music Hall Events</title>
    <link>https://motorcomusic.com/</link>
    <description>Upcoming events at Motorco Music Hall in Durham, NC</description>
    <lastBuildDate>Tue, 23 Dec 2025 17:42:31 -0500</lastBuildDate>
    <item>
      <title>NABIN BHATTARAI | Fri Dec 26, 2025 7:30 pm (Doors: 6:30 pm)</title>
      <link>https://motorcomusic.com/event/bhattarai/</link>
      <guid isPermaLink="true">https://motorcomusic.com/event/bhattarai/</guid>
      <pubDate>Tue, 23 Dec 2025 17:42:31 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://motorcomusic.com/wp-content/uploads/2025/11/aripta-680x680.jpg"/>
      <description><![CDATA[<p><strong>Date:</strong> Fri Dec 26, 2025 7:30 pm (Doors: 6:30 pm)</p><p><strong>Presented by:</strong> UNI Entertainment</p><p><img src="https://motorcomusic.com/wp-content/uploads/2025/11/aripta-680x680.jpg" alt="Event image" /></p><p></p>
<h2><span class="with">with</span> ATRIPTA</h2>
<h4></h4>
<h3></h3>
<h5><a href="https://motorcomusic.com/event/bhattarai/">TICKETS</a></h5>
<p></p>]]></description>
    </item>
  </channel>
</rss>
